{% macro navbar() -%}
  <nav id="navbar">
    <div id="navbar-logo-cont">
      <img id="navbar-logo" src="{{ url_for('static', filename='images/bls-logo1.png') }}"></img>
    </div>
    <div id="nav-links">
      <a href="/home">Home</a>
      <a href="/about">About Us</a>
      <a href="/talent">Our Talent</a>
      <a href="/contact">Contact</a>
    </div>
  </nav>
{%- endmacro %}

{% macro personCard(info) -%}
  <div class="person-card">
    <img src="/static/images/{{info.img}}"></img>
    <div class="person-info" onclick="window.location.href = '/person/{{info.name}}'">
      <p class="name">{{ info.name }}</p>
      <p class="role">{{ info.role }}</p>
      <p class="bio">{{ info.bio }}</p>
    </div>
  </div>
{%- endmacro %}
